@media screen and (min-width:912px) and (max-width:1368px) {
    .table-container {
        width: 100%;
    }
}

@media screen and (min-width:800px) and (max-width:1280px) {
    .table-container {
        min-width: 700px;
    }

    .dash-container {
        /* border: 2px solid red; */
        justify-content: space-between;
    }
}

@media screen and (min-width:744px) and (max-width:1133px) {
    .table-container {
        min-width: 700px;
    }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
    .table-container {
        min-width: 400px;
        width: 100%;
    }

    .dash-container {
        justify-content: end;
        align-items: end;
    }


    .dash-menu {
        /* display:block; */
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .pie-chart {
        width: 100%
    }

    .dash-container {
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:1024px) and (max-width:1090px) {
    .dash-container {
        justify-content: end;
        align-items: end;
    }

    .pending-container {
        min-width: 700px;
    }

    .approve-container {
        min-width: 700px;
    }

    .content-sidebar {
        min-width: 200px;
    }

    .manage-container {
        min-width: 700px;
    }

}

@media screen and (min-width:820px) and (max-width:1180px) {
    .pending-container {
        min-width: 660px;
    }

    .approve-container {
        min-width: 660px;
    }



    .manage-container {
        min-width: 660px;
    }
}

@media screen and (min-width:800px) and (max-width:1280px) {
    .pending-container {
        min-width: 620px;
    }

    .approve-container {
        min-width: 620px;
    }



    .manage-container {
        min-width: 620px;
    }
}

@media screen and (min-width:744px) and (max-width:1133px) {
    .pending-container {
        min-width: 620px;
    }

    .approve-container {
        min-width: 620px;
    }

    .content-sidebar {
        min-width: 300px;
    }

    .manage-container {
        min-width: 620px;
    }

}

@media screen and (min-width:727px) and (max-width:768px) {
    .order-container {
        width: 700px;
    }

    .all-container {
        width: 700px;
    }

    .manager-container {
        width:700px;
    }

}
@media screen and (min-width:838px) and (max-width:1440px) {
    .order-container {
        min-width: 700px;
    }

    .all-container {
        min-width: 700px;
    }

    .manager-container {
        min-width:700px;
    }

}
@media screen and (min-width:744px) and (max-width:1133px) {
    .order-container {
        min-width: 620px;
    }

    .all-container {
        min-width: 620px;
    }

    .content-sidebar {
        min-width: 300px;
    }

    .manager-container {
        min-width: 620px;
    }

}