@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* .swal2-dark-popup {
  background-color: #1f2937;
  color: #f9fafb;
}

.swal2-dark-title {
  color: #f9fafb;
}

.swal2-dark-input,
.swal2-dark-select {
  background-color: #374151;
  color: #f9fafb;
  border: 1px solid #6b7280;
}

.swal2-dark-btn {
  background-color: #2563eb;
  color: #f9fafb;
  padding: 10px 15px;
  margin-left: 20px;
  border-radius: 5px;
}

.swal2-dark-btn:hover {
  background-color: #1d4ed8;
}

.swal2-dark-select option {
  background-color: #374151;
  color: #f9fafb;
} */